{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block body %}
    <head>
        <link rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
        <title>Form</title>
    </head>
    <body>
        <h2>
            Find a hike form.
        </h2>
        <p>Please fill out at as many parameters as possible to narrow down the search, but at least one to return trails.</p>
    <form action="/show-form">
<h4>(1/4) One a scale from 1-5 (one being easiest, and 5 being hardest), what difficulty are you looking for?</h4>
    <label for="difficulty-select">Choose a difficulty:</label>
        <select name="difficulty" id="difficulty-select"> 
          <option value="">--Please choose an option--</option>
          <option value="1">1 </option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select> 
<h4>(2/4) Is there a specific National Park you are looking to hike in?</h4>
        <p><label>State Park (Optional): <input type="text" name="park"></label></p>

<h4>(3/4) Is there a specific State you are looking to hike in?</h4>
        <p><label>State (Optional): <input type="text" name="state"></label></p>
<h4>(4/4) What route type are you looking for? Out and back, or Point to point?</h4>
        <p><label>Route Type (Optional): <input type="text" name="route_type"></label></p>
        
        <p><input type="submit"></p>
    </form>
        
    </body>

{% endblock %}