{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block body %}
<head>
    <link rel="stylesheet"
    href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <title>National Treasures!</title>
</head>
<body>

    <h3>National Treasures!</h3>
    <!-- <img src="/static/img/home2.jpg"> -->
    <img src="/static/img/nic.jpg" style="width:350px;height:200px;">
    <p>Find your perfect purple mountain majesties before the dawns early light</p>

    <p><a href=find-a-hike-form> Find your perfect National Park trail, here!</a></p>
    <a href=view-hikes>View list of hikes, here!</a>

    <h4>Login!</h4>
    <a href=login>Login</a>

    <h4>Don't have an account? Create one here:</h4>
    <a href=create-account>Create Account</a>

</body>


{% endblock %}