{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block body %}
<head>
    <link rel="stylesheet"
    href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <title>My Hike! Find the hike that's right for YOU.</title>
</head>
<body>

    <h1>My Hike! Find the Hike that's right for <i>you!</i></h1>
    <!-- <img src="/static/img/home2.jpg"> -->

    <!-- <button action="/find-a-hike-form">
    Find the perfect hike here

    </button> -->
    <section id="prompt-1">
        <button id="login-button">Log In</button>
      </section>
    <a href=find-a-hike-form> Find your perfect trail, here!</a>
    <a href=view-hikes>View list of hikes, here!</a>

    <h2>Create an Account</h2>
    <form action="/new_user" method="POST">
        <p>
            username <input type="text" name="username">
            </p>
        <p>
        Email <input type="text" name="email">
        </p>
    
        <p>
            Password <input type="password" name="password">
        </p>
    
        <p>
        <input type="submit">
      </p>
    </form>

</body>


{% endblock %}