{% extends 'base.html' %}

{% block title %}{{ area_name }} - Details{% endblock %}

{% block body %}
<h1>{{ area_name }} Available Trails</h1>

<!-- <table>
  <colgroup span="4"></colgroup>
  <tr>
    <th>Trail Name</th>
    <th>National Park</th>
    <th>State</th>
    <th>Trail Length</th>
    <th>Trail Elevation Gain</th>
    <th>Difficulty Rating</th>
    <th>Route Type</th>
    <th>Trail Features</th>
    <th>Trail Activities</th>
  </tr>
  <tr>


  </tr>

</table> -->
<ul>
  <p>NOTE TO SELF could make this a table instead of a list</p>
    {% for trail in park_trails %}
        <li><a href="/trails/{{ trail.trail_id }}">{{ trail.name }}</a></li>   
        <ul>
        <li>Trail Difficulty: {{ trail.difficulty_rating }}</li>
        <li>Trail Length: {{ trail.length }}</li>
        <li>Trail Route Type: {{ trail.route_type }}</li>
        <li>Trail Features: {{ trail.features }}</li>



      </ul>
    {% endfor %}
  </ul>
{% endblock %}