{% extends 'base.html' %}
{% block title %}States List{% endblock %}

{% block body %}
<style>
        .styles-module {
          position: relative;
          height: 312px;
          width: 100%;
          cursor: pointer;
          color: #fff;
          font-family: Proxima Nova,Arial,sans-serif;
          font-size: 14px;
          font-weight: 400;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.57;
          letter-spacing: normal;
      }
  p.padding {
  padding-left: 2cm;
}
  body{
      background-color: white;
}
  
</style>
  <h1>Available States</h1>
  <div class="text-center">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="styles-module" src="/static/img/wides/intricate-explorer-0S5wt7XjTfE-unsplash.jpg" alt="First slide">
            
          </div>
          <div class="carousel-item">
            <img class="styles-module" src="/static/img/wides/j-scott-rakozy-CNLKEp0WY4g-unsplash_scale.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="styles-module" src="/static/img/wides/julie-ambler-_qiodArUFuw-unsplash_scale.jpg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <div class="row">
      <div class="col-3" class="padding">
  <label for="exampleDataList" class="form-label">State Search</label> 

  <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
  <datalist id="datalistOptions"> 
    {% for state in all_states %}
    <option value="{{ state.state_name }}"></option>
    <button type="button" class="btn btn-primary">Submit</button>
{% endfor %} 
  </datalist>
</div>
  </div>
    <div class="row">

      <div class="col-3">
          <img src="/static/img/states/alaksa.jpg" width="175" height="175">
          <div><p><a href='states/Alaska'>Alaska</a></p></div>
      </div>
  
      <div class="col-3">
          <img src="/static/img/states/arizona.jpg" width="175" height="175">
          <div> <a href='states/Arizona'>Arizona</a></div>
      </div>

      <div class="col-3">
        <img src="/static/img/states/arkansas.jpg" width="175" height="175">
        <div> <a href='states/Arkansas'>Arkansas</a></div>
    </div>

      <div class="col-3">
          <img src="/static/img/states/califorina.jpg" width="175" height="175">
          <div><p><a href='states/California'>California</a></p></div>
      </div>

    </div> 
    <div class="row">

      <div class="col-3">
          <img src="/static/img/states/colorado.jpg"width="175" height="175">
          <div> <a href='states/Colorado'>Colorado</a></div>
      </div>

      <div class="col-3">
        <img src="/static/img/states/florida.jpg" width="175" height="175">
        <div> <a href='states/Florida'>Florida</a></div>
    </div>


      <div class="col-3">
          <img src="/static/img/states/georgia.jpg" width="175" height="175">
          <div><p><a href='states/Georgia'>Georgia</a></p></div>
      </div>
  
      <div class="col-3">
          <img src="/static/img/states/hawaii.jpg" width="175" height="175">
          <div> <a href='states/hawaii'>Hawaii</a></div>
      </div>

    </div> 
    <div class="row">

      <div class="col-3">
        <img src="/static/img/states/indiana.jpg" width="175" height="175">
        <div> <a href='states/Indiana'>Indiana</a></div>
    </div>

      <div class="col-3">
          <img src="/static/img/states/kentucky.jpg" width="175" height="175">
          <div><p><a href='states/kentucky'>Kentucky</a></p></div>
      </div>
  
      <div class="col-3">
          <img src="/static/img/states/maine.jpg" width="175" height="175">
          <div> <a href='states/Maine'>Maine</a></div>
      </div>

      <div class="col-3">
        <img src="/static/img/states/michigan.jpg" width="175" height="175">
        <div> <a href='states/Michigan'>Michigan</a></div>
    </div>
  
    </div> 
    <div class="row">

      <div class="col-3">
          <img src="/static/img/states/minnesota.jpg" width="175" height="175">
          <div><p><a href='states/Minnesota'>Minnesota</a></p></div>
      </div>
  
      <div class="col-3">
          <img src="/static/img/states/missouri.jpg" width="175" height="175">
          <div> <a href='states/missouri'>Missouri</a></div>
      </div>

      <div class="col-3">
        <img src="/static/img/states/montana.jpg" width="175" height="175">
        <div> <a href='states/Montana'>Montana</a></div>
    </div>

      <div class="col-3">
          <img src="/static/img/states/nevada.jpg" width="175" height="175">
          <div><p><a href='states/Nevada'>Nevada</a></p></div>
      </div>  

    </div> 
    <div class="row">
  
      <div class="col-3">
          <img src="/static/img/states/newmexico.jpg" width="175" height="175">
          <div> <a href='states/New%20Mexico'>New Mexico</a></div>
      </div>

      <div class="col-3">
        <img src="/static/img/states/northcarolina.jpg" width="175" height="175">
        <div> <a href='states/North%20Carolina'>North Carolina</a></div>
    </div>

      <div class="col-3">
          <img src="/static/img/states/northdakota.jpg" width="175" height="175">
          <div><p><a href='states/North%20Dakota'>North Dakota</a></p></div>
      </div>
  
      <div class="col-3">
          <img src="/static/img/states/ohio.jpg" width="175" height="175">
          <div> <a href='states/Ohio'>Ohia</a></div>
      </div>

        
    </div> 
    <div class="row">

      <div class="col-3">
        <img src="/static/img/states/oregon.jpg" width="175" height="175">
        <div> <a href='states/Oregon'>Oregon</a></div>
    </div>


      <div class="col-3">
          <img src="/static/img/states/southcarolina.jpg" width="175" height="175">
          <div><p><a href='states/South%20Carolina'>South Carolina</a></p></div>
      </div>
  
      <div class="col-3">
          <img src="/static/img/states/southdakota.jpg" width="175" height="175">
          <div> <a href='states/South%20Dakota'>South Dakota</a></div>
      </div>

      <div class="col-3">
        <img src="/static/img/states/tennessee.jpg" width="175" height="175">
        <div> <a href='states/Tennessee'>Tennessee</a></div>
    </div>
  
    </div> 
    <div class="row">

      <div class="col-3">
          <img src="/static/img/states/texas.jpg" width="175" height="175">
          <div><p><a href='states/Texas'>Texas</a></p></div>
      </div>
  
      <div class="col-3">
          <img src="/static/img/states/utah.jpg" width="175" height="175">
          <div> <a href='states/Utah'>Utah</a></div>
      </div>

      <div class="col-3">
        <img src="/static/img/states/virgina.jpg" width="175" height="175">
        <div> <a href='states/Virginia'>Virginia</a></div>
    </div>

      <div class="col-6">
          <img src="/static/img/states/washington.jpg" width="175" height="175">
          <div><p><a href='states/Washington'>Washington</a></p></div>
      </div>
  

      <div class="col-6">
          <img src="/static/img/states/wyoming.jpg" width="175" height="175">
          <div> <a href='states/Wyoming'>Wyoming</a></div>
      </div>
  
    </div> 
  </ul>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% endblock %}