<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 400px;
        /* The width is the width of the web page */
      }
    </style>

    <script>
      // Initialize and add the map
      function initMap() {
 
        console.log(location)

        const uluru = { lat: ($("#map").data("lat")), lng: ($("#map").data("lon")) };

        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });
      }
    </script>
    <title>
      {% block title %}{% endblock %}
    </title>

    {% block head %}{% endblock %}
  </head>
  <nav class="menu">
          <a href="/#">Home</a></li>
      <a href="/find-a-hike-form">Find a Trail</a>
      <a href="/states">View All Available States</a>
      <a href="/parks">View Available National Parks</a>
      <a href="/trails">View All Available Trails</a>
      <!-- <a href="/create-account">Create Account</a> -->
      <!-- <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li> -->
      <a href="/users">View list of Users</a>
      {% if current_user.is_authenticated %} 
      You are logged in as {{ current_user.username }}.
      <a class="nav-link" href="/logout">Log Out</a>
      <a href="/user_profile">My Account</a>
    {% endif %} 
    {% if not current_user.is_authenticated %} 
      <a class="nav-link" href="/login">Log In</a>
      <a class="nav-link" href="/create-account">Sign Up</a>
    {% endif %}

  </nav>

<h1>{{ trail_details.name }}</h1>
<form action="/hike_edit" method="POST">
  <input type="hidden" name="form_id" value="add_wishlist"/>
  <input type="hidden" name="trail_id" value="{{ trail_details.trail_id }}"/>
  <label><input type="radio" name="wishlist"> Add Trail to Wishlist </label>
  <p><input type="submit"></p>
</form>
<form action="/hike_edit" method="POST">
  <input type="hidden" name="form_id" value="add_hike_log" />
  <label><input type="radio" name="hike_log"> Finished this hike? Add it to your hike log. </label>
  <p><input type="submit"></p>
</form>
<p>{{ trail_details.name }} Details</p>
<p>weather:</p>
<div id="current-weather" data-lat="{{ latitude }}" data-lon="{{ longitude }}" ></div>
<p>Location:</p>
<div id="map" data-lat="{{ latitude }}" data-lon="{{ longitude }}" ></div>

<script
src="https://maps.googleapis.com/maps/api/js?key=GOOGLE_API_KEY&callback=initMap&libraries=&v=weekly"
async
></script>

<table>
  <colgroup span="4"></colgroup>
  <tr>
    <th>Trail Name</th>
    <th>National Park</th>
    <th>State</th>
    <th>Trail Length</th>
    <th>Trail Elevation Gain</th>
    <th>Difficulty Rating</th>
    <th>Route Type</th>
    <th>Trail Features</th>
    <th>Trail Activities</th>
  </tr>
  <tr>
    <td>{{ trail_details.name }}</td>
    <td>{{ trail_details.area_name }}</td>
    <td>{{ trail_details.state_name }}</td>
    <td>{{ trail_details.length }}</td>
    <td>{{ trail_details.elevation_gain }}</td>
    <td>{{ trail_details.difficulty_rating }}</td>
    <td>{{ trail_details.route_type }}</td>
    <td>{{ trail_details.features }}</td>
    <td>{{ trail_details.activities }}</td>

  </tr>

</table>
<h5>Have you done completed this hike? Take a moment to rate!</h5>
<form method="post" action="/new_rating/{{ trail_id }}">
    <p>(1/6) One a scale from 1-5 (one being easiest, and 5 being hardest), what score would you give this trail?</p>
        <label for="socre-select">Choose a score:</label>
            <select name="score" id="score-select"> 
              <option value="">--Please choose an option--</option>
              <option value="1">1 </option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select> 
    <p>(2/6) One a scale from 1-5 (one being easiest, and 5 being hardest), what challenge rating would you give this trail?</p>
            <label for="challenge_rating-select">Choose a challenge rating:</label>
            <select name="challenge_rating" id="challenge_rating-select"> 
              <option value="">--Please choose an option--</option>
              <option value="1">1 </option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select> 
    <p>(3/6) One a scale from 1-5 (one being easiest, and 5 being hardest), what distance rating would you give this trail?</p>
            <label for="distance_rating-select">Choose a distance rating:</label>
            <select name="distance_rating" id="distance_rating-select"> 
              <option value="">--Please choose an option--</option>
              <option value="1">1 </option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select> 
    <p>(4/6) One a scale from 1-5 (one being easiest, and 5 being hardest), what ascent rating would you give this trail?</p>
            <label for="ascent_rating-select">Choose a ascent rating:</label>
            <select name="ascent_rating" id="ascent_rating-select"> 
              <option value="">--Please choose an option--</option>
              <option value="1">1 </option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select> 
    <p>(5/6) One a scale from 1-5 (one being easiest, and 5 being hardest), what descent rating would you give this trail?</p>
            <label for="descent_rating-select">Choose a descent rating:</label>
            <select name="descent_rating" id="descent_rating-select"> 
              <option value="">--Please choose an option--</option>
              <option value="1">1 </option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select> 
    <p>(6/6) Comments?</p>
        <p><label>Comments: <input type="text" name="comment"></label></p>
        <p><input type="submit"></p>
    <p>Bonus! Did you take any good pictures?</p>
    <input type='file' name="file1">
    <p><input type="submit"></p>

</form>
<h5>User Ratings</h5>
<table>
  <colgroup span="4"></colgroup>
  <tr>
    <th>Average Score</th>
    <th>Average Challenge Rating</th>
    <th>Average Distance Rating</th>
    <th>Average Ascent Rating</th>
    <th>Average Descent Rating</th>
  </tr>
  <tr>
    <td>{{ av_ratings[0] }}</td>
    <td>{{ av_ratings[1] }}</td>
    <td>{{ av_ratings[2] }}</td>
    <td>{{ av_ratings[3] }}</td>
    <td>{{ av_ratings[4] }}</td>
  </tr>
</table>

        <table>
    <colgroup span="4"></colgroup>
    <tr>
      <th>User</th>
      <th> Score</th>
      <th> Challenge Rating</th>
      <th> Distance Rating</th>
      <th> Ascent Rating</th>
      <th> Descent Rating</th>
      <th> Comment</th>
    </tr>
    {% for rating in ratings %}
    <tr>
      <td>User</td>
      <td>{{ rating.score }}</td>
      <td>{{ rating.challenge_rating }}</td>
      <td>{{ rating.distance_rating }}</td>
      <td>{{ rating.ascent_rating }}</td>
      <td>{{ rating.descent_rating }}</td>
      <td>{{ rating.comment }}</td>
    </tr>
    {% endfor %}
  </table>
  <!-- for loop!!! -->
  <script src="/static/functionality.js"></script>


