
{% extends 'base.html' %}
{% block title %} {{ user_id }} {% endblock %}

{% block body %}
<h3>Welcome {{ user_object.user_fname }}!</h3>
<br />
{%if user_object.profile_picture%}
<img src="/static/img/profile_pictures/{{user_object.profile_picture}}" />
{%else%}
<img src="/static/img/profile_pictures/default.png" />
{%endif%}

<h4>{{ user_object.user_fname }}'s Trail Goals</h4>
<p>Goals</p>
<a href="/profile_edit">Edit your Profile</a>
<!-- if else if user has profile picutre, display it; else display default image -->
<!-- fake users have assigned images  -->
<!-- prfile picture is a part of model User -->
<table>
  <tr>
    <th>Total Miles</th>
    <th>Total Number of Hikes</th>
    <th>Maximun Hike Difficulty</th>

  </tr>
  <tr>
    <td>{{ user_goals.goal_miles }}</td>
    <td>{{ user_goals.goal_number_hikes }}</td>
    <td>{{ user_goals.goal_hike_difficulty }}</td>

  </tr>

</table>
<h4>Want to edit or set your Hiking Goals?</h4>
<!-- <form method="post" action="/new_goal">
  <p>What is your total mileage hiking goal? (Please enter a numeral).</p>
  <p><label>Total Miles <input type="text" name="goal_miles"></label></p>
  <p><input type="submit"></p>
  <p>What is your total number of hikes to complete goal? (Please enter a numeral).</p>
  <p><label>Total Number of hikes: <input type="text" name="goal_number_hikes"></label></p>
  <p><input type="submit"></p>
  <p>What is your maxium hike difficulty goal? (Please enter a numeral).</p>
  <p><label>Maximum hike difficulty: <input type="text" name="goal_hike_difficulty"></label></p>
  <p><input type="submit"></p>
</form> -->
<a href="/profile_edit">Edit your hiking goals here</a>

{% endblock %}