{% extends 'base.html' %}
{% block title %}View-Hikes{% endblock %}

{% block body %}
<head>
    <link rel="stylesheet"
    href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <title>View Hikes!</title>
</head>
<body>

    <h1>See list of hikes below</h1>
    <!-- <img src="/static/img/home2.jpg"> -->

    <!-- <button action="/find-a-hike-form">
    Find the perfect hike here

    </button> -->

  
    <p id="hikes"></p>
    <a href=find-a-hike-form> Find your perfect trail, here!</a>

</body>


{% endblock %}